{% extends 'shop/layout/main.html' %}
{% block title %}
ShopEasy register page
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">User and Admin login</h4>
            <hr style="border-color:#b8bfc2"></div>
            {% include 'shop/inc/message.html' %}
    </div>
    <div class="container text-center" style="min-height: 400px;">
        <div class="row justify-content-md-center">
            <div class="col-6 col-lg-5 my-5">
                <h4 class="mb-3">For User Login click here </h4>  
                <a href="{% url 'login_user'%}" class="btn btn-primary my-2 " style=>User_Login</a>
            </div>
            <div class="col-6 col-lg-5 my-5">
                <h4 class="mb-3">For Admin Login click here </h4>  
                <a  href="{% url 'admin:index' %}" class="btn btn-secondary">Admin</a>
            </div>
            <div class="col-6">
          </div> 
        </div>
      </div>
</div>
{% endblock content %}